<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="example">
        <my-component></my-component>
    </div>
    <script>
       
        var data={message:"组件之data必须是函数"};
        Vue.component("my-component",{
            template:"<div v-if='message'><input v-model='message' type='text'/><p>{{message}}</p></div><div v-else>动态渲染的message为空</div>",
            data:function(){
                return data
            }
        })
        new Vue({
            el:"#example",
            data:{
                message:"组件之data必须是函数"
            }
        })
    </script>
</body>
</html>